{% load static %}

  <header class="mb-auto">
    <div>
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/w2.jpg' %}" class="img-fluid" width="50" height="50" alt="">
        </a>
        <strong>Diving</strong>

      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
        <a class="nav-link" href="#">Diving</a>
        <a class="nav-link" href="#">Albert</a>
        <a class="nav-link" href="#">Expert</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>
